.text-btn {
  margin-top: -15em;
}

.slider-heading {
  font-size: 2.5rem;
  font-weight: 900;
}
.btn-slider {
  height: 50px;
  width: 200px;
  font-size: 1.2rem !important;
  font-weight: 900;
  text-align: center;
}
