.cart-container {
  width: 100%;
  padding-bottom: 3em;

  @media (min-width: 768px) {
    padding-bottom: 5em;
  }
}
.cart-heading {
  margin-block: 3em 1.5em;
}
.summary-table {
  display: flex;
  gap: 2em;
  width: 100%;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 0;

    .table-container {
      flex: 1;
    }
  }
}
.table-container {
  flex: 1;
}
.summary {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-text {
  font-size: 1.1rem;
  color: black;
  text-decoration: none;
}
.cart-text2 {
  font-weight: 500;
}
.cart-text2::after {
  content: '';
  display: flex;
  width: auto;
  height: 2px;
  background-color: #000;
}
.btn-apply {
  font-size: 1rem !important;
}
.cart-price-border {
  border-bottom: 1px solid #e4e2e2;
  border-top: 1px solid #e4e2e2;
  padding-block: 8px;
}
.text-taxes {
  border-bottom: 1px solid #e4e2e2;
  padding-bottom: 8px;
}
.cart-heading2 {
  font-size: 1.1rem;
  font-weight: 700;
}
.cart-heading2::after {
  content: '';
  display: flex;
  width: 160px;
  height: 2px;
  background-color: #000;
}
.table {
  display: block !important;
  overflow-x: auto !important;
  width: 100% !important;
  color: red;
}
.cartImage {
  width: 40%;
  height: 30%;
  object-fit: contain;
  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    margin-top: -10px;
  }
}
.list2 {
  .previewCart-list {
    width: 90px;
    padding: 0;
  }
  .qty {
    border: none;
  }
}

@media (max-width: 47em) {
  .cart-total {
    display: none;
  }
}

@media (min-width: 47em) {
  .list2 {
    display: none !important;
  }
}
