.container-checkout {
  border-radius: 16px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  position: relative;
}

.checkout-header {
  border-bottom: 1px solid #f0eded;
  margin: 0;
  padding: 2em;
}
.checkout-container2 {
  display: grid;
  grid-template-rows: auto auto;
  gap: 2rem;
  width: 100%;
  height: 100%;
  background-color: #d6d6d6;

  @media (min-width: 950px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

.check-imageContainer {
  height: 60px;
  width: 60px;
}
.check-image {
  border-radius: 12px;
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-top: -7px;
}
.check-items {
  position: relative;
  width: 100%;
}
.check-qty {
  position: absolute;
  background-color: #4b4b4b;
  font-size: 0.8rem;
  color: #fff;
  padding: 5px;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 70%;
  left: 15%;
  top: -10%;
}
.names {
  display: flex;
  gap: 1rem;
  width: 100%;

  div {
    width: 100%;
  }
}
.checkout-form {
  width: 100%;
  height: 100%;
  padding: 2em;
  background-color: #fff;
}
.checkout-cart-wrapper {
  position: relative;
}
.enter-address {
  background-color: #d6d6d6;
  padding: 1rem;
  margin-top: 1em;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
}

.checkout-cart {
  width: 100%;
  padding: 2em;
  background-color: #fff;

  @media (min-width: 768px) {
    border-top: 1px solid #f0eded;
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    left: 0;
    top: 0;
  }

  ul {
    width: 100%;
    padding: 0;
    li {
      display: flex;
      width: 90%;
      gap: 1em;
      justify-content: space-between;
      padding: 0.5em 0;
      @media (min-width: 950px) {
        padding: 0.5em 1em;
        width: 90%;
      }
    }
  }
}
.checkout-cart2 {
  @extend .checkout-cart;
  padding: 0 !important;
  background-color: #d6d6d6 !important;
}

.showCart {
  display: block;
}
.hideCart {
  display: none;
}

.element1 {
  font-size: 0.9rem;
  font-weight: 500;
}
.label-element {
  font-size: 0.9rem;
  opacity: 0.6;
}

.shipping-method {
  width: 100%;
}
.shipping-container {
  width: 100%;
  border: 1px solid #f0eded;

  .article {
    border-bottom: 1px solid #f0eded;
    padding: 0.5em;
  }
}
.active-selected {
  background-color: #bdcddd;
  border: 1px solid #1976d2;
  padding: 0.5em;
}
.checkout-footer {
  display: none;
}
.icon-link3 {
  font-size: 0.9rem;
  color: #1976d2;
}
.checkout-footer2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid #f0eded;
  background-color: #fff;
}
.showSummary {
  height: auto;
  padding: 2em;
}
.hideSummary {
  padding: 2px;
  height: 5vh;

  .mtshow {
    padding: 10px;
  }
}
// payment

.payment {
  border: 1px solid #f0eded;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 1em;
}

.active-method {
  background-color: #bdcddd;
  border: 1px solid #1976d2;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 1em;
}
.cfooter-container {
  display: block;
}
@media (min-width: 768px) {
  .showCart,
  .hideCart {
    display: block;
  }

  .summary-container {
    display: none;
  }
  .checkout-footer {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    margin-top: 1em;
    border-top: 1px solid #f0eded;
    padding-block: 1em;
  }
  .checkout-cart {
    background-color: #d6d6d6;
  }

  .cfooter-container {
    display: none;
  }
  .check-qty {
    left: 12%;
  }
}

// paypal
.info {
  ul {
    border-bottom: 2px solid #f0eded;
    margin-top: 1em;
    padding: 1em;
    h5 {
      margin-bottom: 1em;
    }
  }
}
