.slider-container {
  width: 100%;
}
.hero-sec2 {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  width: 100%;
  margin-top: 2em;
}

.hero-beastSeller,
.hero-beastSeller2 {
  position: relative;
  width: 100%;
  cursor: pointer;
  img {
    width: 100%;
    height: 500px;
    transition: transform 0.5s;
  }
}

.best-text {
  position: absolute;
  top: 25%;
  left: 8%;
  z-index: 2;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}
.btn-best {
  border: 1.5px solid #2b2929;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 700;
  background: linear-gradient(to left, #fff 50%, #1976d2 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
  margin-top: 0.5em;
  display: inline-block;
}

.btn-best:hover {
  background-position: left;
  color: #fff;
  transition: 3 linear;
  border: none;
}

.btn-best:active {
  background: linear-gradient(to left, #1b4875 50%, #1b4875 50%) right;
  transition: 3 linear;
  background-position: cover;
  color: #fff;
  background-color: none;
}

.link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #4b4b4b;
}
.card-image {
  width: 100%;
  height: 250px;
}
.card {
  background-color: #9e9e9e !important;
  width: 100%;
  position: relative;
}
.card-body {
  background-color: #fff;
}
.card-image img {
  width: 100%;
  height: 100%;
}

.row-container {
  display: grid;
  grid-template-columns: auto;
  gap: 1em;
  width: 100%;
  padding-inline: 1em;
  @media (min-width: 47.9em) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 901px) and (max-width: 1048px) {
    grid-template-columns: repeat(3, 1fr);
  }
  img {
    object-fit: cover;
  }
}
.rating {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.card-container {
  width: 100%;
}
.bttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 900px) {
  .bttons {
    display: none;
  }
  .card:hover .bttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    background-color: #fff;
    padding: 5px;
    width: 100%;
    left: 0;
    transition: all ease-in-out;
  }
}

.whistlist {
  color: #1976d2;
  font-size: 5rem;
  font-weight: 900;
}
.seeMore-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.product-link {
  text-decoration: none;
}
@media (min-width: 48em) {
  .hero-sec2 {
    flex-direction: row;
  }
  .best-card {
    width: 100%;
    @media (min-width: 1024px) {
      width: 500px;
    }
    img {
      object-fit: contain;
    }
  }
}
.call-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2em;
  gap: 2em;
  @media (max-width: 900px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-block: 1em;
  }
}
.call-image {
  width: 100%;

  @media (max-width: 900px) {
    display: none;
  }
}
.box {
  background-color: #fff;
  text-align: center;
  margin-inline: 2em;
  padding-top: 3em;
  width: 80%;
  height: 450px;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  @media (max-width: 900px) {
    width: 95%;
  }

  h1 {
    font-size: 4rem;
    font-weight: 900;
  }
}
.calltoAction {
  margin-inline: 2em;
}
.call-list {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  padding: 2em;

  li {
    background-color: #000;
    color: #fff;
    padding: 5px;
    width: 80px;
    height: 80px;
    font-size: 1.5rem;
  }
}

.carousel-container {
  padding-bottom: 4em;
  margin-inline: 1em;
}
.carousel-item-padding {
  padding-inline: 0.5em;
}

.new-text {
  font-size: 1.1rem;
}
.text2 {
  padding-inline: 3em;
}
.new-main-container {
  display: grid;
  grid-template-columns: auto;
  gap: 1em;
  width: 100%;
  padding-inline: 1em;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, auto);
  }
}
.discover {
  text-decoration: underline;
  font-weight: bold;
}
.discover:hover {
  color: #1976d2;
}
.new-image {
  width: 100%;
  height: 300px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.feature {
  box-shadow: 0px 5px 5px -5px #cec7c7;
}
.support-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  padding-inline: 1em;
  margin-inline: 1em;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.support {
  display: flex;
  gap: 1em;
  margin-block: 2em;
}
.support-span {
  font-size: 1.1rem;
}
.support-icons {
  color: #1976d2;
}
.support-icons:hover {
  transform: scale(1.5);
}
.news {
  margin-top: 2em;
}
.instagram-container {
  display: flex;
  padding-inline: 2em;
}

//preview shopping card
.perviewCart-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 2px;
  padding: 1em 1px;
  overflow-y: auto;

  @media (min-width: 768px) {
    padding: 1em 10px;
  }
}
.null {
  display: none;
}
.previewCart-image {
  width: 180px;
  padding-top: 8px;
  cursor: pointer;
}
.previewCart-image image {
  height: 350px;
  width: 100%;
}
.previewCart-details {
  padding: 0.5em;

  h5,
  span {
    font-size: 1rem;
  }
}
.previewCart {
  display: flex;
  border-bottom: 1px solid #e4e2e2;
  margin-top: 2em;
  position: relative;
}
.delete {
  position: absolute;
  bottom: 2%;
  right: 0;
}

.previewCart-list {
  background-color: #f5f1f1;
  margin-top: 0.2em;
  padding: 0.3em;
  width: 120px;
}
.previewCart-icon {
  cursor: pointer;
}

.cart-price {
  font-size: 1rem;
  font-weight: 600;
}
.qty {
  border: 1px solid #000;
  padding: 5px;
  font-size: 1rem;
}

.checkout-btn,
.viewCart-btn {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  font-size: 1rem !important;
}
.checkout-btn {
  background-color: #1976d2;
  font-weight: 700;
  height: 50px;
  padding: 5px;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.checkout-btn:hover {
  background-color: #1b4875;
}
.progress-bar-container {
  position: relative;
}

.Progress-Bar {
  width: 100%;
  height: 27px;
  background-color: #fff;
  border: 1px solid #e4e2e2;
  border-radius: 10px;
}

.Progress {
  height: 100%;
  background-color: #fcbc51;
  border-radius: 5px;
  transition: width 0.2s ease-in-out;
}

.progress-bar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  text-wrap: nowrap;
  color: #000;
  font-weight: 600;
}
.cancel-btn,
.save-btn {
  text-align: center;
  width: 150px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem !important;
  margin-top: 1em;
}

.tab-list {
  border: 1px solid #e4e2e2;
  margin-top: 1em;
  padding: 0.7em 1em;
}
.v-line {
  width: 1.5px;
  height: 25px;
  background-color: #e4e2e2;
}

.note-textarea {
  width: 100%;
}

.empty-card {
  margin: 2em 0;
  padding: 2em;
  background-color: #e4e2e2;
}
.cart-link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.cart-link:hover {
  color: #1976d2;
}

.paypal {
  display: none;
}

.notfound {
  padding: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
