.slider-container {
  width: 100%;
}
.hero-sec2 {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  width: 100%;
  margin-top: 2em;
}

.hero-beastSeller,
.hero-beastSeller2 {
  position: relative;
  width: 100%;

  img {
    width: 100%;
    height: 500px;
    transition: transform 0.5s;
  }

  img:hover {
    transform: scale(1.2);
  }
}

.card {
  width: 100%;
}

.best-text {
  position: absolute;
  top: 25%;
  left: 8%;
  z-index: 2;

  button {
    border: 1.5px solid #2b2929;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 700;
    background: linear-gradient(to left, #fff 50%, blue 50%) right;
    background-size: 200%;
    transition: 0.5s ease-out;
    margin-top: 0.5em;
    display: inline-block;
  }

  button:hover {
    background-position: left;
    color: #fff;
    transition: 3 linear;
    border: none;
  }

  button:focus {
    background-color: #7575ee;
    color: #fff;
    background-color: none;
  }
}
.row-container{
  display: grid;
  grid-template-columns: auto;
 gap: 1em;
 width: 100%;
 @media(min-width: 47.9em){
  grid-template-columns: repeat(2, 1fr);
 }
 @media(min-width: 900px){
  grid-template-columns: repeat(4, 1fr);
 }
}
.rating{
  display: flex;
  flex-direction: row;
  gap: 1em;

}
.card-container{
  width: 100%;
}
.bttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.whistlist{
  color: #2b2bb3;
  font-size: 5rem;
  font-weight: 900;
}
@media (min-width: 48em) {
  .hero-sec2 {
    flex-direction: row;
  }
  .best-card {
    width: 500px;
  }
}
