.description-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-block: 1em;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.cart-heading3 {
  background-color: #faf7f7;
  margin-inline: -1%;
  padding: 1.5em;
}
.des-text-link:hover {
  text-decoration: underline;
}
.description-image {
  width: 100%;
  height: 50vh;
  background-color: #9e9e9e;
  margin-top: 0px;
  padding-inline: 4px;
  @media (min-width: 768px) {
    height: 65vh;
  }
  @media (min-width: 950px) {
    height: 100vh;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.d-block {
  padding: 0;
  cursor: pointer;
  width: 100%;
}

.des-icon {
  display: grid;
  grid-template-columns: auto auto;
}

.activeIcon::after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background-color: #000;
}

.activeIcon:hover::after {
  width: 70px;
  transition: width 0.5s ease;
}
.element {
  background-color: #2b2929;
  color: #fff;
  padding: 0.5em;
  width: 73%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);

  @media (min-width: 768px) {
    width: 350px;
    left: 50%;
  }
}
.desIcons-container {
  position: relative;
  width: 100%;
}
.icon-text {
  font-size: 1rem;
  font-size: 500;
}
.product-bestSeller {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @media (min-width: 47.9em) {
    flex-direction: row;
  }
}
.copy-text {
  background-color: #faf7f7;
  padding: 5px;
}

.share-container {
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%;
  //box-shadow: #64646f33 0 7px 29px;
  //padding: 12px;
  position: sticky;

  @media only screen and (max-width: 768px) {
    width: 100%;

    .copied-text {
      word-break: break-word;
      line-break: normal;
    }
    .copy-text {
      padding-inline: 0;
    }
  }
}
.not-share {
  display: none;
}

.vendor {
  font-size: 1rem;
  font-weight: 600;
}

.list-images {
  height: 80px;
  width: 50px;
  border-radius: 8px;
  padding: 0;
}
.list-images img {
  object-fit: contain;
}
.images-list {
  border: 1px solid #cec7c7;
  width: 100%;
  padding-inline: 8px;
}
.mobile-icon {
  display: flex;
  @media (min-width: 47.9em) {
    display: none;
  }
}
.no-flex-tab {
  display: flex;
  gap: 1em;
  font-size: 1rem;
  font-weight: 600;
  padding-inline: 0;
  cursor: pointer;
  border-bottom: 1px solid #cec7c7;
}
.tab-list2 {
  position: relative;
}
.active-tab {
  color: #1976d2;
}
.active-tab::after {
  content: '';
  display: block;
  width: auto;
  height: 2px;
  background-color: #1976d2;
  transition: width 2s ease-in-out;
  margin-top: 1em;
  @media (max-width: 767px) {
    display: none;
  }
}

.flex-tab {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0;
  font-size: 1rem;
}
.flex-tab li {
  border-bottom: 1px solid #cec7c7;
  padding-block: 10px;
}
.product-description {
  display: grid;

  gap: 1em;
  text-align: justify;
  @media (min-width: 950px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.btn-review {
  font-size: 1rem !important;
}
.custom-image {
  width: 100%;
}
.des-form {
  width: 100%;
}
.desbest-imgae {
  object-fit: contain;
}

.tab-content {
  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 1;
    overflow-y: auto;
    padding-block: 1em;
    .no-content {
      display: none;
    }
  }
}
.fload-left-end {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  @media (min-width: 47.9em) {
    display: none;
  }
}
