.shop-container {
  padding-block: 2em;
  display: flex;
  gap: 2rem;
  width: 100%;

  aside {
    width: 18%;
    ul {
      cursor: pointer;
    }
    h5 {
      font-size: 1.1rem;
    }
  }
  main {
    width: 82%;
  }
}

.aside-list {
  li {
    padding-block: 0.4em;
  }
}

.row-container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
